.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFDE59;
  width: 100%;
  min-height: 100dvh;
  background-image: url("../../../assets/imgs/dc-general/background-carrier.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
  font-size: 3rem;
  font-weight: 700;
  color: #B20C08;
  text-align: start;
}

@media screen and (max-width: 576px) {
  .banner {
    min-height: 100%;
    background: none;
  }

  .banner__slogan {
    display: none;
  }
}
