.banner {
  background-color: #FFDE59;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner__content {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.banner__logo {
  width: 32rem;
  height: 38rem;
}

.banner__slogan {
  padding-right: 2rem;
  font-size: 3rem;
  font-weight: 700;
  color: #B20C08;
  text-align: end;
  align-self: flex-end;
}
