<div class="content">
  <div class="content-container">
    <div class="content__header">
      <h1 class="content__title">Restablecer contraseña</h1>
    </div>
    <div class="content__form">
      <form
        class="form"
        [formGroup]="formUserPassword"
        (ngSubmit)="onSubmitChangePassword()"
      >
        <div class="form__group">
          <label for="newPassword" class="form__label">Nueva contraseña</label>
          <div class="form__input-wrapper">
            <input
              type="password"
              id="newPassword"
              placeholder="Tu nueva contraseña"
              name="newPassword"
              class="form__input"
              required
              formControlName="newPassword"
            />
          </div>
        </div>
        <div class="form__group">
          <label for="confirmPassword" class="form__label">
            Confirmar nueva contraseña</label
          >
          <div class="form__input-wrapper">
            <input
              type="password"
              id="confirmPassword"
              placeholder="Reescribe tu contraseña"
              name="confirmPassword"
              class="form__input"
              required
              formControlName="confirmPassword"
            />
          </div>
        </div>
        <div class="form-buttons">
          <button
            type="submit"
            class="form__button"
            [ngClass]="{
              'form__button--disabled': formUserPassword.invalid
            }"
          >
            Cambiar contraseña
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
