@import "src/app/dc-styles/mixins/size.scss";
.dc-my-profile {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  &__background-card {
    background-color: white;
    padding: 1.5rem;
    box-shadow: 4px 0px 8px 8px rgb(0 0 0 / 4%);
    border-radius: 1rem;
    width: 50vw;
    //overflow: auto;
  }
  &__header {
    &-title {
      font-size: 1.5rem;
      font-weight: 600;
      color: black;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  &-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    /* &--buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-end;
        align-items: center;
      } */
  }

  &__select {
    outline: none;
    height: 3rem;
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid #dcdbdd;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;

    &::ng-deep .mat-mdc-select-arrow {
      background-image: url("./../../../assets/imgs/dc-general/selectArrowNew.svg");
      background-repeat: no-repeat;
      background-position: right center;
      width: 1.1875rem;
      height: 1.1875rem;
      background-size: cover;
      svg {
        display: none;
      }
    }

    &::ng-deep .mat-mdc-select-trigger {
      height: 100%;
      padding: 0 0.5rem;
    }

    &:hover {
      background-color: #eeeeee55;
    }

    option {
      background: #fff;
      color: #4d4d4d;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &-title {
      font-size: 1rem;
      font-weight: 500;
      width: 100px;
    }
  }

  &__content {
    overflow: auto;
    &-row {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: flex-end;
      align-items: center;
      &--buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-end;
        align-items: center;
      }
      &--button {
        width: 7rem;
        font-size: small;
        border-radius: 1rem;
        height: 3rem;

        &__cancelar {
          border: 2px solid red !important;
        }
      }
    }
  }
}
@include md {
  .dc-my-profile {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    &__background-card {
      background-color: white;
      padding: 1rem;
      box-shadow: 4px 0px 8px 8px rgb(0 0 0 / 4%);
      border-radius: 1rem;
      flex: 1;
      flex-grow: 1;
      flex-shrink: 1;
      //overflow: auto;
    }
    &__header {
      &-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: black;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;
    }
    &-row {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: flex-end;
      align-items: center;
      /* &--buttons {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          justify-content: flex-end;
          align-items: center;
        } */
    }

    &__select {
      outline: none;
      height: 3rem;
      color: #84818a;
      font-size: 0.875rem;
      font-weight: 400;
      // padding: 0px 1rem;
      cursor: pointer;
      border-radius: 1rem;
      border: 1px solid #dcdbdd;
      background: #fff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: flex;

      &::ng-deep .mat-mdc-select-arrow {
        background-image: url("./../../../assets/imgs/dc-general/selectArrowNew.svg");
        background-repeat: no-repeat;
        background-position: right center;
        width: 1.1875rem;
        height: 1.1875rem;
        background-size: cover;
        svg {
          display: none;
        }
      }

      &::ng-deep .mat-mdc-select-trigger {
        height: 100%;
        padding: 0px 1rem;
      }

      &:hover {
        background-color: #eeeeee55;
      }

      option {
        background: #fff;
        color: #4d4d4d;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    &__input {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      &-title {
        font-size: 1rem;
        font-weight: 500;
        width: 100px;
      }
    }

    &__content {
      overflow: auto;
      &-row {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-end;
        align-items: center;
        &--buttons {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          justify-content: flex-end;
          align-items: center;
        }
        &--button {
          width: 7rem;
          font-size: small;
          border-radius: 1rem;
          height: 3rem;

          &__cancelar {
            border: 2px solid red !important;
          }
        }
      }
    }
  }
}

@include sm {
  .dc-my-profile {
    display: flex;
    justify-content: center;
    margin-top: 0;
    &__background-card {
      background-color: white;
      padding: 1rem;
      box-shadow: 4px 0px 8px 8px rgb(0 0 0 / 4%);
      border-radius: 1rem;
      flex: 1;
      flex-grow: 1;
      flex-shrink: 1;
      //overflow: auto;
    }
    &__header {
      &-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: black;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;
    }
    &-row {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: flex-end;
      align-items: center;
      /* &--buttons {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          justify-content: flex-end;
          align-items: center;
        } */
    }

    &__select {
      outline: none;
      height: 3rem;
      color: #84818a;
      font-size: 0.875rem;
      font-weight: 400;
      // padding: 0px 1rem;
      cursor: pointer;
      border-radius: 1rem;
      border: 1px solid #dcdbdd;
      background: #fff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: flex;

      &::ng-deep .mat-mdc-select-arrow {
        background-image: url("./../../../assets/imgs/dc-general/selectArrowNew.svg");
        background-repeat: no-repeat;
        background-position: right center;
        width: 1.1875rem;
        height: 1.1875rem;
        background-size: cover;
        svg {
          display: none;
        }
      }

      &::ng-deep .mat-mdc-select-trigger {
        height: 100%;
        padding: 0px 1rem;
      }

      &:hover {
        background-color: #eeeeee55;
      }

      option {
        background: #fff;
        color: #4d4d4d;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    &__input {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      &-title {
        font-size: 1rem;
        font-weight: 500;
        width: 100px;
      }
    }

    &__content {
      overflow: auto;
      &-row {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-end;
        align-items: center;
        &--buttons {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          justify-content: flex-end;
          align-items: center;
        }
        &--button {
          width: 7rem;
          font-size: small;
          border-radius: 1rem;
          height: 3rem;

          &__cancelar {
            border: 2px solid red !important;
          }
        }
      }
    }
  }
}
