.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
 /*  height: 100vh;
  background-image: url("../../../assets/imgs/dc-general/background-carrier.png");
  background-size: cover;
  background-repeat: no-repeat; */
}
