<div class="dc-header">
  <mat-toolbar class="dc-header__toolbar">
    <img
      class="dc-header__toolbar-img"
      src="assets/imgs/dc-general/DeCompras.png"
      alt="logo"
      type="button"
      (click)="onHome()"
    />
    <div class="dc-header__toolbar-title">
      {{ pageTitle }}
    </div>
    <form
      class="dc-header__toolbar-search"
      style="margin-left: 1.5rem"
      (submit)="prevenRefresh($event)"
    >
      <div class="dc-header__toolbar-search-form">
        <img
          src="assets/imgs/dc-general/search.svg"
          class="dc-header__toolbar-search-form-icon"
        />
        <label for="search">
          <input
            class="dc-header__toolbar-search-form-input"
            type="text"
            placeholder="Buscar producto aquí"
            [formControl]="myControl"
            id="search"
            #searchInput
            (keyup.enter)="onSearchEnter(searchInput)"
          />
        </label>
      </div>
    </form>

    <div class="dc-header__toolbar-name">
      {{ loggedInUserName }} {{ loggedInUserLastname }}
    </div>
  </mat-toolbar>
</div>
