// podes poner los tamaños de las letras line height y todo los que este relacionado a tamaño, dejalo comentado com oun titulo : =>

/*
    *Resoluciones de pantallas (Screen resolutions)
*/
$screen-sm: 375px;
$screen-md: 768px;
$screen-lg: 1025px;
