<div class="dc-offers">
  <div class="dc-offers__background">
    <div class="dc-offers__products" *ngIf="products">
      <app-dc-card
        *ngFor="let product of products"
        [product]="product"
        [title]="product.title"
      ></app-dc-card>
    </div>
  </div>
</div>

<!-- <div style="display: flex; flex-wrap: wrap">
  <div *ngFor="let oferta of ofertas">
    <h2>{{ oferta._type }}</h2>
    <h2>{{ oferta.total }}</h2>
    <h2>{{ oferta.offset }}</h2>
    <h2>{{ oferta.object_type }}</h2>
    <h2>{{ oferta.page_size }}</h2>
    <div *ngFor="let data of oferta.items">
      <div>
        <div>{{ data.title }}</div>
      </div>

      <div *ngFor="let page of data.pages">
        <div>{{ page.object_id }}</div>
        <div>{{ page.display_info.title }}</div>
        <div>{{ page.display_info.store_info.name }}</div>
      </div>
    </div>
  </div>
</div> -->
