<div *ngIf="data.productDetails.producto.precio_bulto_min_con_iva === null">
  <span> Nullo </span>
</div>

<div *ngIf="data.productDetails.producto.precio_bulto_min_con_iva !== null">
  <span>
    <div *ngFor="let item of data.productDetails.sucursales">
      <div
        *ngIf="
          !data.productDetails.sucursales ||
          data.productDetails.sucursales.message !==
            'La sucursal no contiene el producto'
        "
      >
        <div>{{ item.comercioRazonSocial }}</div>
        <div *ngIf="item.preciosProducto">
          <p>{{ item.preciosProducto.precio_unitario_con_iva }}</p>
          <input
            type="radio"
            [id]="item"
            [checked]="checkboxSeleccionado === item"
            (change)="sucursalSeleccionada(item)"
          />
        </div>
      </div>
    </div>
  </span>
</div>
