.dc-product-detail {
  display: flex;
  height: 30rem;
  justify-content: space-between;
  flex-direction: column;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    width: 35rem;
    &--branches {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border: 2px solid;
      border-radius: 1rem;
      padding: 0.5rem;
      &-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        border: 1px solid;
        border-radius: 1rem;
        &--left {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }
      }
    }
  }
}
.input-ratio {
  width: 1.5rem;
  cursor: pointer;
}
