.dc-product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  border: 0.884px solid #ebebeb;
  background: #fff;
  width: 16rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  &__body {
    padding: 1rem;
    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &-col {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &--right {
        display: flex;
        flex-direction: column;
      }
    }
    &-background-price {
      display: flex;
      justify-content: center;
      background-color: #797676;
      align-items: center;
      width: 100%;
      height: 2.5rem;
      border-radius: 0 0 1rem 1rem;
      &--price {
        font-family: Inter;
        font-size: 1rem;
        font-weight: 600;
        color: #ffff;
      }
    }
  }

  &__brand {
    max-width: 3.20094rem;
    height: 3.20094rem;
    border-radius: 0.82913rem;
    background: linear-gradient(
      180deg,
      rgba(228, 239, 250, 0.53) 0%,
      rgba(228, 239, 250, 0.53) 0.01%,
      rgba(228, 239, 250, 0) 100%
    );
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    &-product {
      height: 6rem;
      width: 7rem;
      object-fit: contain;
    }
  }

  &__name {
    color: #000;
    font-family: var(--fontName);
    font-size: 0.9rem;
    line-height: 1.313rem;
    font-weight: 500;
    margin-bottom: 0.64rem;
    order: 10;
  }
  &__description {
    color: black;
    font-size: 1rem;
    font-weight: 600;
  }
  &__checkbox {
    width: 1.5rem;
  }
}

.dc-shop-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border: 0.884px solid #ebebeb;
  background: #fff;
  width: 11rem;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  &__brand {
    max-width: 3.20094rem;
    height: 3.20094rem;
    border-radius: 0.82913rem;
    background: linear-gradient(
      180deg,
      rgba(228, 239, 250, 0.53) 0%,
      rgba(228, 239, 250, 0.53) 0.01%,
      rgba(228, 239, 250, 0) 100%
    );
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    &-shop {
      height: 6rem;
      width: 100%;
      object-fit: contain;
    }
  }

  &__name {
    color: #000;
    font-family: var(--fontName);
    font-size: 0.9rem;
    line-height: 1.313rem;
    font-weight: 500;
    margin-bottom: 0.64rem;
    order: 10;
  }
  &__description {
    color: #c7c7c7;
    font-size: 1rem;
    font-weight: 600;
  }
}

@media (width < 768px) {
  .dc-product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    border: 0.884px solid #ebebeb;
    background: #fff;
    width: 16rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    &__body {
      padding: 1rem 1rem 0;
      &-col {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        &--right {
          display: flex;
          flex-direction: column;
        }
      }
      &-background-price {
        display: flex;
        justify-content: center;
        background-color: #797676;
        align-items: center;
        width: 100%;
        height: 2.5rem;
        border-radius: 0 0 1rem 1rem;
        &--price {
          font-family: Inter;
          font-size: 1rem;
          font-weight: 400;
          color: #ffffff;
        }
      }
    }

    &__brand {
      max-width: 3.20094rem;
      height: 3.20094rem;
      border-radius: 0.82913rem;
      background: linear-gradient(
        180deg,
        rgba(228, 239, 250, 0.53) 0%,
        rgba(228, 239, 250, 0.53) 0.01%,
        rgba(228, 239, 250, 0) 100%
      );
      display: flex;
      object-fit: contain;
      justify-content: center;
      align-items: center;
    }

    &__name {
      color: #000;
      font-family: var(--fontName);
      font-size: 0.9rem;
      line-height: 1.313rem;
      font-weight: 500;
      margin-bottom: 0.64rem;
      order: 10;
    }
    &__brand {
      color: #c7c7c7;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .dc-shop-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 0.884px solid #ebebeb;
    background: #fff;
    width: 9rem;
    height: 100%;
    padding: 0.5rem;
    gap: 1rem;
    &__brand {
      max-width: 3.20094rem;
      height: 3.20094rem;
      border-radius: 0.82913rem;
      background: linear-gradient(
        180deg,
        rgba(228, 239, 250, 0.53) 0%,
        rgba(228, 239, 250, 0.53) 0.01%,
        rgba(228, 239, 250, 0) 100%
      );
      display: flex;
      object-fit: cover;
      justify-content: center;
      align-items: center;
      &-shop {
        height: 6rem;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
