<div class="dc-product-card" *ngIf="product">
  <div class="dc-product-card__body">
    <img
      class="dc-product-card__brand"
      src="{{ product.imgBrand }}"
      alt="icon"
      onerror="this.onerror=null; this.src='https://e7.pngegg.com/pngimages/10/205/png-clipart-computer-icons-error-information-error-angle-triangle-thumbnail.png';"
    />
    <div class="dc-product-card__body-col">
      <div class="dc-product-card__body-col--left">
        <img
          class="dc-product-card__brand-product"
          src="{{ product.imgProduct }}"
          alt="icon"
          onerror="this.onerror=null; this.src='https://e7.pngegg.com/pngimages/10/205/png-clipart-computer-icons-error-information-error-angle-triangle-thumbnail.png';"
        />
      </div>
      <div class="dc-product-card__body-col--right">
        <p class="dc-product-card__description">
          {{ product.name }} {{ product.quantity }}
        </p>
        <p class="dc-product-card__description">
          {{ product.description }}
        </p>
      </div>
    </div>
  </div>

  <div class="dc-product-card__body-background-price">
    <div class="dc-product-card__body-background-price--price">
      {{ product.price | currency }}
    </div>
  </div>
</div>
