.dc-register {
  &__img {
    background-image: url(../../../assets/imgs/dc-general/background-carrier.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  &__select {
    outline: none;
    height: 3rem;
    color: #84818a;
    font-size: 1rem;
    font-weight: 400;
    // padding: 0px 1rem;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid #dcdbdd;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;

    &::ng-deep .mat-mdc-select-arrow {
      background-image: url("./../../../assets/imgs/dc-general/selectArrowNew.svg");
      background-repeat: no-repeat;
      background-position: right center;
      width: 1.1875rem;
      height: 1.1875rem;
      background-size: cover;
      svg {
        display: none;
      }
    }

    &::ng-deep .mat-mdc-select-trigger {
      height: 100%;
      padding: 0 0.5rem;
    }

    &:hover {
      background-color: #eeeeee55;
    }

    option {
      background: #fff;
      color: #4d4d4d;
      font-size: 1rem;
      font-weight: 400;
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
    &-subtitle {
      font-size: 1.5rem;
      font-weight: 400;
      width: 50%;
      color: #838383;
    }
  }
  &__content {
    overflow-y: auto;
    margin-bottom: 1rem;
    &-row {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: flex-end;
      align-items: center;
      &--buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-end;
        align-items: center;
      }
      &--button {
        width: 7rem;
        font-size: small;
        border-radius: 1rem;
        height: 3rem;

        &__cancelar {
          border: 2px solid red !important;
        }
      }
    }
  }

  &__logo {
    height: 12rem;
    width: 10rem;
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;

    &-title {
      font-size: 1rem;
      font-weight: 500;
      width: 100px;
    }
  }

  &__error {
    display: flex;
    color: #cc3d3d;
    font-size: 0.75rem;
    line-height: 1.5rem;
    letter-spacing: 0.015rem;
    align-items: center;
    gap: 0.25rem;
    &::before {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
.card {
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 3rem;
  width: 90%;
  height: 90%;
  border-radius: 2rem;
  top: 50%; /* Ajustar verticalmente */
  left: 50%; /* Ajustar horizontalmente */
  transform: translate(-50%, -50%); /* Centrar la mat-card */
  z-index: 1; /* Asegurarse de que esté por encima de la imagen de fondo */
}
.card__image {
  width: 30%;
  height: 50%;
}
.header-logo {
  margin-top: -30px;
}

.mat-form-field {
  width: 100%;
}
.link-iniciar-sesion {
  text-decoration: none;
  color: rgb(255, 0, 0);
}
.button {
  &__cancelar {
    width: 7rem;
    padding: 0.5rem;
    font-size: medium;
    border-radius: 1rem;
    border: 2px solid red !important;
  }
  &__continuar {
    width: 7rem;
    font-size: medium;
    border-radius: 1rem;
    padding: 0.5rem;
  }
}
// Medias querys
@media only screen and (max-width: 767px) {
  .dc-register {
    &__img {
      background-image: url(../../../assets/imgs/dc-general/background-carrier.png);
      background-size: cover;
      background-position: center;
      width: 100vw;
      height: 100vh;
      position: relative;
    }
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &-title {
        font-size: 1.5rem;
        font-weight: bold;
      }

      &-subtitle {
        display: none;
      }
    }
    &__input {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin: 0.5rem 0;
      width: 100%;
      padding-left: 5%;
    }
    &__content {
      overflow: auto;
      &-row {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-end;
        align-items: center;
        &--buttons {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }
    &__logo {
      height: 7rem;
      width: 6rem;
    }
  }

  .card {
    width: 95%;
    height: 95%;
    padding: 15px;
    border-radius: 1.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .card__image {
    width: 10%;
    height: 20%;
  }
  .header-logo {
    text-align: center;
  }
  .header-subtitle {
    display: none;
  }
  .input {
    width: 100%;
    margin-top: 20px;
  }
  .mat-label {
    width: 50%;
    font-size: 5px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1023px) {
  /* Estilos para tabletas */
  .card {
    width: 70%;
    height: auto;
    padding: 15px;
    border-radius: 1.5rem;
  }
  .card__image {
    width: 40%;
    height: auto;
  }
}

.sucess-message {
  color: green;
}

.error-message {
  color: red;
}

