<div class="dc-register__img">
  <mat-card class="card">
    <div class="dc-register__header">
      <div class="dc-register__header-title">Registro</div>
      <div class="dc-register__header-subtitle">
        Registrate de forma fácil y sencilla a nuestra plataforma para que
        empieces a irte De_Compras
      </div>

      <img
        class="dc-register__logo"
        src="../../../assets/imgs/dc-general/De Compras 9.png"
        alt="Logo"
      />
    </div>
    <mat-card-content class="dc-register__content">
      <form [formGroup]="formUser">
        <div class="row">
          <div>
            <div class="dc-register__input">
              <mat-label>Nombre</mat-label>
              <input formControlName="name" placeholder="Ingresa tu nombre" />
            </div>
          </div>
          <div>
            <div class="dc-register__input">
              <mat-label>Apellidos</mat-label>
              <input
                formControlName="lastname"
                placeholder="Ingresa tu apellido"
              />
            </div>
          </div>
          <div>
            <div class="dc-register__input">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" placeholder="Email" />
              <span
                *ngIf="
                  formUser.get('email')?.hasError('required') &&
                  formUser.get('email')?.touched
                "
              >
                El email es requerido
              </span>

              <span
                *ngIf="
                  formUser.get('email')?.hasError('email') &&
                  formUser.get('email')?.touched &&
                  !formUser.get('email')?.hasError('required')
                "
              >
                Este campo requiere un email válido
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div>
            <div class="dc-register__input">
              <mat-label>Clave</mat-label>

              <input
                formControlName="password"
                placeholder="Ingresa tu clave"
              />
            </div>
          </div>
          <div>
            <div class="dc-register__input">
              <mat-label>Repetir clave</mat-label>

              <input formControlName="password" placeholder="Repetir clave " />
            </div>
          </div>
          <div>
            <div class="dc-register__input">
              <mat-label>Dirección</mat-label>
              <input
                formControlName="address"
                placeholder="Ingresar dirección"
              />
            </div>
          </div>
          <!-- <div >
                    <div class="dc-register__input">
                        <mat-label>País</mat-label>
                        <mat-form-field >
                            <mat-label>Selecciona un país</mat-label>
                            <mat-select formControlName="country">
                                 <mat-option *ngFor="let item of listaPaises" [value]="item.idPais">
                                    {{item.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div> 
              </div>-->

          <!-- <div class="row">  
                  <div >
                      <div class="dc-register__input">
                          <mat-label>Provincia</mat-label>
                          <mat-form-field >
                              <mat-label>Selecciona una provincia</mat-label>
                              <mat-select formControlName="province">
                                   <mat-option *ngFor="let item of listaEstados" [value]="item.idEstado">
                                      {{item.nombre}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                  </div> -->
          <!-- <div >
                      <div class="dc-register__input">
                          <mat-label>Ciudad</mat-label>
                          <mat-form-field >
                              <mat-label>Selecciona una ciudad</mat-label>
                              <mat-select formControlName="city">
                                   <mat-option *ngFor="let item of listaCiudad" [value]="item.idCiudad">
                                      {{item.nombre}}
                                  </mat-option> 
                              </mat-select>
                          </mat-form-field>
                      </div>
                  </div> -->
        </div>
      </form>
    </mat-card-content>
    <div class="dc-register__content-row">
      <div>
        ¿Ya tienes cuenta?<a href="" class="link-iniciar-sesion">
          Iniciar sesión</a
        >
      </div>

      <div class="dc-register__content-row--buttons">
        <button
          (click)="cancelRegister()"
          mat-stroked-button
          color="warn"
          class="dc-register__content-row--button dc-register__content-row--button__cancelar"
        >
          Cancelar
        </button>
        <button
          (click)="onSubmit()"
          mat-raised-button
          color="warn"
          class="dc-register__content-row--button dc-register__content-row--button__continuar"
        >
          Continuar
        </button>
      </div>
    </div>
  </mat-card>
</div>
